<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <title>入口文件</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!--<script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>-->
</head>
<body>
<% for(var key in htmlWebpackPlugin){ %>
<%= key %>
<% } %>

<hr>

<h4>file</h4>
<% for(var key in htmlWebpackPlugin.files){ %>
<%= key %> : <%= JSON.stringify(htmlWebpackPlugin.files[key]) %><br/>
<% } %>

<hr>

<h4>options</h4>
<% for(var key in htmlWebpackPlugin.options){ %>
<%= key %> : <%= JSON.stringify(htmlWebpackPlugin.options[key]) %><br/>
<% } %>

</body>
</html>